.movie {
    width: calc(calc(100% - 112px) / 8);
    background-color: #373b69;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 0 3px rgba(0, 0, 0,.4);
    position: relative;
    font-size: 14px;
    color: #fff;
}

.movie .movie-poster {
    padding-top: 150%;
    position: relative;
}

.movie .movie-poster img {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.movie .movie-info {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    gap: 2px;
}

.movie .movie-info .title {
    font-weight: 600;
}

.movie .movie-info .rating {
    font-weight: 400;
}

.movie .movie-overview {
    color: #ccc;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10,10,10,.75);
    visibility: hidden;
    overflow: hidden;
}
.movie:hover .movie-overview {
    visibility: inherit;
}
.movie .movie-overview  .overview-content {
    padding: 24px 10px 0;
}
.movie .overview-content .title {
    font-weight: 600;
    margin-bottom: 12px;
}


/* 이 아래는 따라하실 필요없어요!!!!!!*/

@media (max-width: 1024px) {
    .movie {
        width: calc(calc(100% - 48px) / 4);
    }
}

@media (max-width: 768px) {
    .movie {
        width: calc(calc(100% - 32px) / 3);
    }
}

@media (max-width: 640px) {
    .movie {
        width: calc(calc(100% - 16px) / 2);
    }
}

@media (max-width: 480px) {
    .movie {
        width: 100%;
    }
}